# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distribution / packaging
.eggs/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.pytest_cache/

# Databases
*.sqlite3
*.db
/ecolearn.db

# Migrations
migrations/versions/__pycache__/

# OS files
.DS_Store
Thumbs.db

