{% extends "base.html" %}

{% block title %}Contact - eduNation{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-5 text-success mb-4 text-center">
                <i class="fas fa-envelope me-3"></i>Contact Us
            </h1>
            
            <div class="card mb-4">
                <div class="card-body">
                    <p class="lead text-center">Have questions or feedback? We'd love to hear from you!</p>
                    
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="contact-method mb-4">
                                <h4><i class="fas fa-envelope text-success me-2"></i>Email</h4>
                                <p>For general inquiries: <a href="mailto:info@edunation.com">info@edunation.com</a></p>
                                <p>For support: <a href="mailto:support@edunation.com">support@edunation.com</a></p>
                            </div>
                            
                            <div class="contact-method mb-4">
                                <h4><i class="fas fa-phone text-success me-2"></i>Phone</h4>
                                <p>Support Hotline: +1 (555) 123-4567</p>
                                <p>Available Mon-Fri, 9 AM - 5 PM PST</p>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="contact-method mb-4">
                                <h4><i class="fas fa-map-marker-alt text-success me-2"></i>Address</h4>
                                <p>eduNation Platform<br>
                                123 Green Street<br>
                                Sustainability City, SC 12345<br>
                                United States</p>
                            </div>
                            
                            <div class="contact-method mb-4">
                                <h4><i class="fas fa-clock text-success me-2"></i>Support Hours</h4>
                                <p>Monday - Friday: 9:00 AM - 5:00 PM<br>
                                Saturday: 10:00 AM - 2:00 PM<br>
                                Sunday: Closed</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center mt-4">
                        <h4>Follow Us</h4>
                        <div class="social-links">
                            <a href="#" class="btn btn-outline-success me-2">
                                <i class="fab fa-facebook-f"></i> Facebook
                            </a>
                            <a href="#" class="btn btn-outline-success me-2">
                                <i class="fab fa-twitter"></i> Twitter
                            </a>
                            <a href="#" class="btn btn-outline-success">
                                <i class="fab fa-instagram"></i> Instagram
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
